<h1>
  <%= @user.username %>
  <% case controller.action_name %>
  <% when "following" %>
    <%= t('.following') %>
  <% when "followers" %>
    <%= t('.followers') %>
  <% end %>
</h1>

<ul>
  <% @users.each do |user| %>
   <li><%= link_to user.username, user_path(user), class: 'navbar-link' %></li>
  <% end %>
</ul>

<div class='paginate'><%= paginate @users %><div>

<%= link_to t('link.back'), :back %>
