<h1><%= t('.profile')%></h1>

<%= render 'shared/stats' %>
<%= render 'follow_form' if user_signed_in? %>

<p><%= t('.name')%>: <%= @user.username %></p>
<p>
<%= t('.avatar')%>:</br>
<%= image_tag @user.avatar if @user.avatar.attached? %>
</p>
<p><%= t('.introduction')%>: <%= @user.introduction %></p>
<p><%= t('.zip_code')%>: <%= @user.zip %></p>
<p><%= t('.address')%>: <%= @user.address %></p>

<%= link_to t('link.back'), :back %>
