<header>
  <% if I18n.locale.to_s == "en" %>
    <%= link_to('日本語サイト', :locale => 'ja') %>
    <% else %>
    <%= link_to('English site', :locale => 'en') %>
  <% end %>

  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <strong><%= current_user.username %></strong> <%= t(".log_in_now") %></br>
      <%= link_to t('.profile'), users_show_path, class: 'navbar-link' %> |
      <%= link_to t('.edit_profile'), edit_user_registration_path, class: 'navbar-link' %> |
      <%= link_to t(".logout"), destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
    <% else %>
      <%= link_to t(".sign_up"), new_user_registration_path, class: 'navbar-link'  %> |
      <%= link_to t(".sign_in"), new_user_session_path, class: 'navbar-link'  %>
    <% end %>
  </p>
</header>
